<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">

      <mat-card fxFlex fxFlex.gt-md="50%" class="sa-lifecycle">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">Lifecycle</span>
          <mat-icon color="primary">play_for_work</mat-icon>
        </mat-card-title>

        <div fxLayout="column">
          <mat-card-subtitle>State: <b><span class="service-assembly-state">{{ serviceAssembly.state }}</span></b></mat-card-subtitle>

          <app-message
            class="info-lifecycle-sa"
            type="info"
            msg="Changing the state of an SA will affect its SUs."
            [isClosable]="false"
          ></app-message>
        </div>

        <mat-card-content fxLayoutWrap fxLayout="row" *ngIf="serviceAssembly.state">
          <span *ngFor="let possibleState of getPossibleStateActions(serviceAssembly.state); trackBy:trackBySaState" class="color-primary padding-bottom-x1">
            <button
              class="text-upper margin-right-x1"
              mat-raised-button
              (click)="changeState(possibleState.newStateAfterAction)"
              [disabled]="serviceAssembly.isUpdatingState"
            >
              <mat-icon *ngIf="possibleState.actionName === 'Stop'">stop</mat-icon>
              <mat-icon *ngIf="possibleState.actionName === 'Start'">play_arrow</mat-icon>
              <mat-icon *ngIf="possibleState.actionName === 'Unload'">remove_circle_outline</mat-icon>
              <span class="sa-state">{{ possibleState.actionName }}</span>
            </button>
          </span>
        </mat-card-content>

        <app-message class="error-change-state" type="error" [msg]="serviceAssembly.errorChangeState"></app-message>

      </mat-card>

    </div>
  </div>
</div>
