<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" #top>

      <mat-card fxFlex class="component-lifecycle" [ngClass.gt-md]="'card-auto-size'">
        <mat-card-title>
          <span fxFlex class="text-upper">Lifecycle</span>
          <mat-icon color="primary">play_for_work</mat-icon>
        </mat-card-title>

        <mat-card-subtitle>State: <b><span class="component-state">{{ component.state }}</span></b></mat-card-subtitle>

        <mat-card-content fxLayoutWrap class="margin-top-x1 list-actions-name" *ngIf="component.state">
          <span *ngFor="let possibleState of getPossibleStateActions(component.state); trackBy:trackByComponentState" class="color-primary padding-bottom-x1">
            <button
              class="text-upper margin-right-x1"
              mat-raised-button
              (click)="changeState(possibleState.newStateAfterAction)"
              [disabled]="component.isUpdating || ((possibleState.actionName === 'Unload' || possibleState.actionName === 'Uninstall') && component.serviceUnits.length > 0)"
            >
              <mat-icon *ngIf="possibleState.actionName === 'Install'">build</mat-icon>
              <mat-icon *ngIf="possibleState.actionName === 'Stop'">stop</mat-icon>
              <mat-icon *ngIf="possibleState.actionName === 'Start'">play_arrow</mat-icon>
              <mat-icon *ngIf="possibleState.actionName === 'Unload' && component.serviceUnits.length > 0"
                matTooltip="To unload a component, all service units of the component should be unloaded first"
                matTooltipPosition="above">info</mat-icon>
              <mat-icon *ngIf="possibleState.actionName === 'Unload' && component.serviceUnits.length === 0">remove_circle_outline</mat-icon>
              <mat-icon *ngIf="possibleState.actionName === 'Uninstall' && component.serviceUnits.length > 0"
                matTooltip="To uninstall a component, all service units of the component should be unloaded first"
                matTooltipPosition="above">info</mat-icon>
              <mat-icon *ngIf="possibleState.actionName === 'Uninstall' && component.serviceUnits.length === 0">build</mat-icon>
              <span class="action-name">{{ possibleState.actionName }}</span>
            </button>
          </span>
        </mat-card-content>

        <mat-card-content fxLayout="column" *ngIf="component.updateError" class="error">
          <div class="bold margin-bottom-x1">An error occurred:</div>
          <span class="italic">{{ component.updateError }}</span>
        </mat-card-content>

        <app-message class="error-change-state" type="error" [msg]="component.updateError"></app-message>

        <mat-divider></mat-divider>

        <mat-card-subtitle class="margin-top-x1 component-parameters-title" fxLayoutAlign="start center">
          <span fxFlex>Component parameters</span>
          <mat-icon class="margin-left-x1" color="primary">settings</mat-icon>
        </mat-card-subtitle>

        <mat-card-content fxLayout="column" class="component-parameters">
          <form formnovalidate *ngIf="parametersForm" [formGroup]="parametersForm">
            <div *ngFor="let param of parametersForm.controls | keys | orderBy">
              <mat-form-field floatPlaceholder="always" class="margin-top-x1">
                <input matInput [placeholder]="param" type="text" [formControlName]="param">
              </mat-form-field>
            </div>
            <span class="color-primary">
              <button class="text-upper" mat-raised-button (click)="setParameters()" [disabled]="component.isUpdating || parametersForm.pristine">
                Set
              </button>
            </span>
          </form>
        </mat-card-content>

      </mat-card>

      <app-upload
        class="deploy-service-unit"
        fxFlex
        #deployServiceUnit
        [style.opacity]="component.state && component.state === 'Loaded' ? 0.5 : 1"
        [title]="'Service Unit Deployment'"
        [uploadStatus]="uploadServiceUnitStatus"
        [disabled]="component.isUpdating || (component.state && component.state === 'Loaded')"
        [error]="component.deployError"
        (onUploadFile)="deploy($event.selectedFileInformation.file, $event.selectedFileInformation.fileName)"
      ></app-upload>
    </div>
  </div>
</div>
