<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<mat-card *ngIf="users$ | async as users">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" fxLayout="column">
    <mat-form-field class="margin-top-x1">
      <span matPrefix>
          <mat-icon color="primary">person</mat-icon>
        </span>
      <input matInput appFocusInputIfLargeScreen type="text" placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" required>
      <mat-error>Required!</mat-error>
    </mat-form-field>

    <mat-form-field class="margin-top-x1">
      <span matPrefix>
          <mat-icon color="primary">vpn_key</mat-icon>
        </span>
      <input matInput type="password" placeholder="Password" formControlName="password" [errorStateMatcher]="matcher" required>
      <mat-error>Required!</mat-error>
    </mat-form-field>

    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="start center" class="form-error" *ngIf="users.connectionFailed">
      <mat-icon color="warn">error</mat-icon>
      <p>Username and password do not match</p>
    </div>

    <button
      mat-raised-button color="primary"
      class="margin-top-x1"
      [disabled]="loginForm.invalid || users.isConnecting || users.connectedUser"
      >
      <span
        *ngIf="users.isConnecting || users.connectedUser; else logInTxtTpl"
        fxLayout="row"
        fxLayoutAlign="center center"
        >
        Logging in
        <mat-spinner [diameter]="16" [strokeWidth]="1"></mat-spinner>
      </span>

      <ng-template #logInTxtTpl>
        Log in
      </ng-template>
    </button>
  </form>
</mat-card>
