/**
 * Copyright (C) 2017-2018 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

app-mat-card-toolbar {
  input[type='file'] {
    display: none;
    text-transform: lowercase;
  }

  app-message.error-upload {
    margin-top: 10px;
  }

  .when-selected-file {
    .selected-file {
      border: 2px dotted #e8e8e8;
      padding: 10px;

      .edit-information {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
}
