<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxFill fxLayout="column" fxFill class="content content-max-width">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">

      <mat-card fxFlex class="components">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">Components</span>
          <mat-icon color="primary">view_list</mat-icon>
        </mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content class="margin-top-x1 components-content">
          <mat-nav-list *ngIf="sharedLibrary.components.length !== 0; else nocomponent" dense fxLayout="column" class="padding-top-x1">
            <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let component of sharedLibrary.components; trackBy:trackByComponent">
              <a mat-raised-button color="primary" [routerLink]="['/workspaces', workspaceId, 'petals', 'components', component.id]"
                class="component">
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <span class="component-name margin-right-x1">{{ component.name }}</span>
                  <mat-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
                </div>
              </a>
            </div>
          </mat-nav-list>

          <ng-template #nocomponent>
            <app-message
              class="info-sl-no-component"
              type="info"
              msg="This shared library isn't used by any component."
              [isClosable]="false"
            ></app-message>
          </ng-template>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
