<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->


<div fxLayout="column" fxFill>
  <form [formGroup]="newWksForm" (ngSubmit)="onSubmit(newWksForm)" fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <input type="text" matInput placeholder="New workspace name" formControlName="name">
      <span matPrefix><mat-icon color="primary">edit</mat-icon></span>
    </mat-form-field>

    <button cdk-focus-region-start type="submit" [disabled]="newWksForm.invalid || workspaces.isAddingWorkspace" mat-mini-fab color="primary" fxFlex="40px" matTooltip="Add a workspace"
      matTooltipPosition="below" class="btn-add-workspace">
      <mat-icon>create_new_folder</mat-icon>
    </button>
  </form>

  <div class="margin-bottom-x1">
    <div class="info-add-workspace margin-top-x1" fxLayout="row" fxLayoutAlign="center center" *ngIf="workspaces.list.length === 0 && !workspaces.isFetchingWorkspaces">
      <mat-icon color="primary">info</mat-icon>
      <span matLine>You don't have any workspace yet</span>
    </div>

    <div *ngIf="workspaces.list.length !== 0" class="workspace-list">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row" fxFlex="100%">
            <mat-spinner [diameter]="16" [strokeWidth]="1" class="margin-left-x1" *ngIf="workspaces.isFetchingWorkspaces; else fetched"></mat-spinner>
            <ng-template #fetched>
              <label [ngPlural]="workspaces.list.length">
                <ng-template ngPluralCase="=1">1 Workspace</ng-template>
                <ng-template ngPluralCase="other">{{ workspaces.list.length }} Workspaces</ng-template>
              </label>
            </ng-template>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card class="info-workspaces">
        <div fxLayout="row" class="cursor-pointer background-color-hover-light-green-x2 info-workspace"
          *ngFor="let workspace of workspaces.list; trackBy:trackByWorkspace" (click)="select(workspace)"
          [class.background-color-light-green-x2]="workspaces.selectedWorkspaceId === workspace.id"
        >
          <mat-card-title-group>
            <div fxLayout="column" fxLayoutAlign="center start">
              <mat-card-title class="workspace-name">{{ workspace.name }}</mat-card-title>
              <mat-card-subtitle class="workspace-description">
                <span *ngIf="workspace.users.length === 1" matLine>You are the only one using this workspace.</span>
                <span *ngIf="workspace.users.length > 1" matLine>Shared with you and <span
                    class="color-primary-bold dotted"
                    [matTooltip]="getUsersNames(workspace.users)"
                  >{{ workspace.users.length - 1 }} other{{ (workspace.users.length - 1) >= 2 ? 's' : '' }}</span>.
                </span>
              </mat-card-subtitle>
            </div>
          </mat-card-title-group>
        </div>
      </mat-card>
    </div>
  </div>
</div>
