/**
 * Copyright (C) 2017-2018 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.logo-toolbar {
  max-height: 34px;
}

/*
TODO
While the issue on material **https://github.com/angular/material2/issues/3221** is still open,
let's make something hacky by putting the header on top of the rest

This should be cleaned as soon as the new feature is ready (see also cockpit component for scss hack)
*/

.header-toolbar {
  position: fixed;
  z-index: 2000;
  font-size: 14px;
  line-height: 36px;
}

mat-toolbar {
  padding-left: 0;
  .sidenav-toggle,
  .toolbar-logo,
  .btn-usr-admin {
    margin-right: 4px;
    min-height: 56px;
    min-width: 56px;
  }
}

.pnl-title-main {
  font-size: 12px;
}
