<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">

      <mat-card fxFlex class="component-infos">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">About <b>{{ component.name }}</b></span>
          <mat-icon color="primary">info_outline</mat-icon>
        </mat-card-title>

        <div fxLayout="row" fxLayoutAlign="start center" class="margin-top-x1">
          <mat-card-header fxFlex *ngIf="component.state">
            <mat-card-title>State</mat-card-title>
            <mat-card-subtitle class="component-state" fxLayoutAlign="start center">
              {{ component.state }}
              <app-led [color]="getLedColorFromState(component.state)" class="margin-left-x1"></app-led>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-header fxFlex *ngIf="component.type">
            <div matCardAvatar class="img-card-type"></div>
            <mat-card-title>Type</mat-card-title>
            <mat-card-subtitle class="component-type">{{ component.type }}</mat-card-subtitle>
          </mat-card-header>
        </div>
      </mat-card>

      <mat-card fxFlex class="shared-libraries">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">Shared Libraries</span>
          <mat-icon svgIcon="sl-overview"></mat-icon>
        </mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content class="margin-top-x1 shared-libraries-content">
          <mat-nav-list *ngIf="component.sharedLibraries.length !== 0 else nosl"  dense fxLayout="column" class="padding-top-x1">
            <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let sl of component.sharedLibraries; trackBy:trackBySl">
              <a mat-raised-button color="primary"
                [routerLink]="['/workspaces', workspaceId, 'petals', 'shared-libraries', sl.id]"
                class="shared-library">
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <span class="sl-name margin-right-x1">{{ sl.name }}</span>
                  <mat-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
                </div>
              </a>
            </div>
          </mat-nav-list>

          <ng-template #nosl>
            <app-message
              class="info-no-sl"
              type="info"
              msg="This component doesn't use any shared library."
              [isClosable]="false"
            ></app-message>
          </ng-template>
      </mat-card-content>
      </mat-card>
    </div>

    <mat-card fxLayout="column" class="margin-top-x1 service-units">
      <mat-card-title fxLayout="row">
        <span fxFlex class="text-upper">Service units</span>
        <mat-icon svgIcon="su"></mat-icon>
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content class="margin-top-x1 service-units-content">
        <mat-nav-list *ngIf="component.serviceUnits.length !== 0 else nosu" dense fxLayout="column" class="padding-top-x1">
          <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let su of component.serviceUnits; trackBy:trackBySu">
            <a mat-raised-button color="primary" [routerLink]="['/workspaces', (workspaceId$ | async), 'petals', 'service-units', su.id]" class="service-unit">
              <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                <span class="su-name margin-right-x1">{{ su.name }}</span>
                <mat-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
              </div>
            </a>

            <span fxFlex matSubheader fxLayoutAlign="center center">belongs to</span>

            <a mat-raised-button color="primary" [routerLink]="['/workspaces', (workspaceId$ | async), 'petals', 'service-assemblies', su.serviceAssembly.id]"
              class="service-assembly">
              <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                <span class="sa-name margin-right-x1">{{ su.serviceAssembly.name }}</span>
                <mat-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
              </div>
            </a>
          </div>
        </mat-nav-list>

        <ng-template #nosu>
          <app-message
            class="info-no-su"
            type="info"
            msg="This component doesn't have any service unit."
            [isClosable]="false"
          ></app-message>
        </ng-template>

      </mat-card-content>
    </mat-card>

  </div>
</div>
