<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFlex class="wrapper-content">
  <mat-toolbar color="primary" class="toolbar-page-header">
    <div class="prefix-toolbar-title">
      <mat-icon>settings</mat-icon>
    </div>

    <h1 class="title" [ngClass.lt-md]="'margin-left-x1'">Administration</h1>
  </mat-toolbar>

  <div fxFlexFill fxLayout="column" *ngIf="user$ | async as currentUser" class="content content-max-width">
    <div class="central-content" *ngIf="currentUser.isAdmin; else notAdmin">
      <div fxLayout="column" fxFlex *ngIf="users$ | async as users" class="user-management-page">
        <mat-card fxLayout="column">
          <mat-card-content>
            <div fxLayout="row" fxFlex="100%">
              <label class="text-upper">User Management</label>

              <div fxFlex fxLayoutAlign="end center" class="margin-right-x1">
                <mat-spinner [diameter]="16" [strokeWidth]="1" class="margin-right-x1" *ngIf="isFetchingUsers$ | async; else usersFetched"></mat-spinner>
                <ng-template #usersFetched>
                  <span class="subtitle" *ngIf="users.length > 0" matLine>
                      {{ users.length }} user{{ (users.length) >= 2 ? 's' : '' }}
                    </span>
                </ng-template>
              </div>
              <mat-icon color="primary">supervisor_account</mat-icon>
            </div>
          </mat-card-content>

          <app-message
            class="info-user-management"
            type="info"
            msg="As an administrator, you can ADD, EDIT, and DELETE any user."
            [isClosable]="false"
          ></app-message>
        </mat-card>

        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" class="user-management-panels">

          <div fxFlex [ngClass.gt-md]="'card-auto-size'" class="pnl-add-user margin-top-x1">
            <mat-expansion-panel #el fxLayout="column" class="exp-pnl-add-user" [hideToggle]="false" (closed)="addEditUser.reset()">
              <mat-expansion-panel-header fxLayout="row">
                <div fxLayout="row" fxLayoutAlign="center center" class="mat-body">
                  <mat-icon class="margin-right-x1" color="primary">person_add</mat-icon>
                  <span class="text-upper pnl-title light-bold">Add a new user</span>
                </div>
              </mat-expansion-panel-header>

              <app-add-edit-user #addEditUser (onSubmit)="onAdd($event); el.close()" (onCancel)="el.close()">
              </app-add-edit-user>

            </mat-expansion-panel>
          </div>

          <div fxFlex [ngClass.gt-md]="'card-auto-size'" class="pnl-list-users margin-top-x1">
            <mat-accordion displayMode="flat" [multi]="false">
              <mat-expansion-panel #el [hideToggle]="false" fxLayout="column" *ngFor="let user of users; trackBy:trackByUser" [ngClass]="'exp-pnl-user-'+user.id"
                (closed)="addEditUser.reset()">

                <mat-expansion-panel-header class="mat-body" fxLayout="row">
                  <mat-panel-title fxLayout="row" fxLayoutAlign="star center">
                    <app-generate-icon mat-list-avatar [size]="35" [text]="user.id"></app-generate-icon>
                    <span class="margin-left-x1 user-id">{{ user.id }}</span>
                    <span class="margin-left-x1 light-bold user-name" *ngIf="isLargeScreen$ | async">({{ user.name }})</span>
                    <mat-spinner [diameter]="16" [strokeWidth]="1" class="margin-left-x1" *ngIf="user.isAdding || user.isModifying"></mat-spinner>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <app-add-edit-user #addEditUser
                  [canDelete]="user.id !== currentUser.id && !user.isDeleting"
                  [user]="user"
                  (onSubmit)="onSave(user.id, $event); el.close()"
                  (onDelete)="onDelete(user.id); el.close()"
                  (onCancel)="el.close()">
                </app-add-edit-user>

              </mat-expansion-panel>
            </mat-accordion>
            <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isFetchingUsers$ | async"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>

    <ng-template #notAdmin>
      <div class="central-content">
        <div fxLayout="column" fxFlex>
          <mat-card fxLayout="column">
            <app-message
            class="warning-not-admin"
            type="warning"
            msg="You are not an administrator."
            [isClosable]="false"
          ></app-message>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </div>
</div>
