<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<router-outlet></router-outlet>

<ng-template #workspaceList>
  <div class="dialog-workspaces-list" fxLayout="column" class="content content-max-width">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
      <h3 class="matDialogTitle margin-left-x1">SELECT THE WORKSPACE</h3>
    </mat-toolbar>

    <div class="central-content">
      <mat-dialog-content>
        <app-workspaces-list
          (fetch)="fetchWorkspace($event)"
          (create)="createWorkspace($event)"
          [workspaces]="workspaces$ | async"
          [user]="user$ | async">
        </app-workspaces-list>
      </mat-dialog-content>
    </div>
  </div>
</ng-template>
