/**
 * Copyright (C) 2017-2018 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import '../../../../../styles/themes/_light.theme';
@import '../../../../../styles/shared/_colors';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav-container {
  background-image: url(../../../../../assets/img/gray_jean.png);
  color: mat-color($theme-primary, default-contrast);

  // all menu views have the same size (petals, service, api)
  > mat-sidenav {
    height: 100%;
    // customize the buttons of petals menu view
    .pnl-buttons-workspaces > .no-border-radius {
      border-radius: 0;
    }
  }
}
