<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<mat-sidenav-container fxFlex (backdropClick)="closeSidenav()" (disableClose)="true">
  <mat-sidenav fxLayout="column"
              class="workspace-sidenav mat-elevation-z6"
              *ngIf="workspace$ | async as workspace"
              [opened]="sidenavVisible$ | async"
              [mode]="sidenavMode$ | async"
              [disableClose]="true">
    <div fxLayout="row" class="pnl-buttons-workspaces">
      <button fxFlex="100" mat-raised-button (click)="closeSidenavOnSmallScreen()" [routerLink]="['/workspaces', workspace.id]"
        class="workspace-name width-full no-border-radius text-upper" color="accent">
        {{ workspace.name }}
      </button>

      <button fxFlex
        mat-raised-button
        (click)="openWorkspacesDialog()"
        class="change-workspace width-full no-border-radius"
        color="accent">
        <mat-icon>view_list</mat-icon>
      </button>
    </div>

    <mat-tab-group
      class="workspace-menu"
      mat-stretch-tabs
      fxFlex
      [selectedIndex]="retrievedSelectedIndex"
      (selectedIndexChange)="saveCurrentTab($event)"
    >
      <mat-tab label="Petals">
        <app-petals-menu-view
          [busesInProgress]="busesInProgress$ | async"
          [tree]="tree$ | async"
          [workspaceId]="workspace.id">
        </app-petals-menu-view>
      </mat-tab>

      <mat-tab label="Services">
        <app-service-menu-view
         [services]="services$ | async"
         [workspaceId]="workspace.id">
        </app-service-menu-view>
      </mat-tab>

      <mat-tab label="Api">
        <app-api-menu-view></app-api-menu-view>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
