<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFlex>

  <div class="wrapper-search-add-bus" fxLayout="row">
    <form [formGroup]="searchForm">
      <mat-form-field fxFlex>
        <input class="search" [appFocusInput]="focusSearchInput$" matInput placeholder="Search" formControlName="search">
        <span matPrefix><mat-icon color="primary">search</mat-icon></span>
      </mat-form-field>
    </form>

    <a mat-mini-fab class="btn-add-bus" color="primary" fxFlex="40px" matTooltip="Import a bus" matTooltipPosition="below"
      [routerLink]="['/workspaces', workspaceId, 'petals', 'buses-in-progress']" (click)="closeSidenavOnSmallScreen()">
      <mat-icon>add</mat-icon>
    </a>
  </div>

  <div class="pnl-title" *ngIf="busesInProgress.length > 0">
    <div class="margin-left-x1" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="margin-right-x1" color="primary">import_export</mat-icon>
      <span class="text-upper title" fxFlex>Imports in progress</span>
    </div>
  </div>
  <app-buses-in-progress [busesInProgress]="busesInProgress" [workspaceId]="workspaceId"></app-buses-in-progress>

  <div class="pnl-title" *ngIf="busesInProgress.length > 0">
    <div class="margin-left-x1" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="margin-right-x1" color="primary">star</mat-icon>
      <span class="text-upper title" fxFlex>Buses</span>
    </div>
  </div>

  <app-material-tree
    [tree]="tree"
    [search]="search"
    [marginLeft]="14"
    (onToggleFold)="onTreeToggleFold($event)"
    (onSelect)="onTreeSelect($event)"
  ></app-material-tree>

  <app-message
    class="info no-match"
    *ngIf="tree.length === 0 && search"
    type="info"
    msg="There is no match with &quot;{{ search }}&quot;."
    (onClose)="focusSearch()"
  ></app-message>
</div>
