<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div *ngIf="workspace$ | async as workspace" fxLayout="column" fxFlex class="wrapper-content">
  <mat-toolbar color="primary" class="toolbar-page-header">
    <div class="prefix-toolbar-title">
      <mat-icon color="accent" *ngIf="!workspace.isFetchingDetails">grade</mat-icon>
      <mat-spinner [diameter]="16" [strokeWidth]="1" color="accent" *ngIf="workspace.isFetchingDetails"></mat-spinner>
    </div>

    <h1 class="title" fxFlex [ngClass.lt-md]="'margin-left-x1'">{{ workspace.name }}</h1>

    <button color="warn" type="button" class="btn-delete-wks" (click)="openDeletionDialog()" mat-mini-fab matTooltip="Delete the workspace"
      matTooltipPosition="before" [disabled]="workspace.isRemoving || isRemoving">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <div fxFlexFill fxLayout="column" class="content content-max-width">
    <div class="central-content">
      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">
        <mat-card fxFlex [ngClass.gt-md]="'card-auto-size'">
          <mat-card-title fxLayout="row" *ngIf="!isEditingDescription">
            <span fxFlex class="text-upper">Whiteboard</span>
          </mat-card-title>


          <mat-card-content fxLayout="row" fxLayoutAlign="center center" *ngIf="!isEditingDescription; else descriptionEdit" class="workspace-description">
            <span fxFlex [innerHTML]="workspace.description | MarkdownToHtml"></span>
            <button class="btn-edit" color="primary" mat-icon-button (click)="editDescription()" matTooltip="Edit" matTooltipPosition="below">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-content>

          <mat-card-content>

            <ng-template #descriptionEdit>
              <div fxLayout="column" *ngIf="description !== null" class="workspace-description-edit">
                <p>
                  <mat-form-field fxFlex>
                    <textarea matInput class="description-wks" matTextareaAutosize [disabled]="isSettingDescription" [(ngModel)]="description"></textarea>
                  </mat-form-field>
                </p>
                <mat-card-subtitle>
                  <span fxFlex class="workspace-description-preview" [innerHTML]="description | MarkdownToHtml"></span>
                </mat-card-subtitle>
              </div>

              <div align="end">
                <button
                  type="button"
                  class="workspace-description-edit-cancel text-upper"
                  color="primary"
                  mat-button
                  [disabled]="isSettingDescription"
                (click)="cancelDescription()">Cancel</button>
                <button
                  type="submit"
                  class="workspace-description-edit-submit text-upper"
                  mat-button
                  [disabled]="isSettingDescription"
                  (click)="validateDescription()"
                  color="accent" mat-raised-button>Submit</button>
              </div>
            </ng-template>

          </mat-card-content>
        </mat-card>

        <mat-card fxFlex [ngClass.gt-md]="'card-auto-size'">
          <mat-card-title fxLayout="row">
            <span fxFlex class="text-upper">Users</span>
            <mat-icon color="primary">supervisor_account</mat-icon>
          </mat-card-title>

          <mat-card-content>
            <div fxLayout="column" *ngIf="(users$ | async) as users" class="workspace-users">

              <app-message
                class="info-user-workspace"
                *ngIf="users.length === 1; else workspaceShared"
                type="info"
                msg="You are the only one using this workspace."
                [isClosable]="false"
              ></app-message>

              <ng-template #workspaceShared>
                <app-message
                  class="info-user-workspace-shared"
                  type="info"
                  msg="{{users.length}} people are using this workspace."
                  [isClosable]="false"
                ></app-message>
              </ng-template>

              <mat-divider></mat-divider>

              <form [formGroup]="addUserFormGroup" (ngSubmit)="addUser()" class="margin-top-x1">
                <mat-form-field class="margin-right-x1">
                  <input
                    matInput
                    placeholder="User to add"
                    [matAutocomplete]="autocompleteUsers"
                    formControlName="userSearchCtrl"
                    required>
                  <mat-error>Select a user on the list</mat-error>
                </mat-form-field>

                <mat-autocomplete #autocompleteUsers>
                  <mat-option *ngFor="let filteredUser of filteredUsers$ | async" [value]="filteredUser">
                    {{ filteredUser }}
                  </mat-option>
                </mat-autocomplete>

                <button mat-raised-button type="submit" class="text-upper" color="accent" [disabled]="addUserFormGroup.invalid || workspace.isAddingUserToWorkspace">Add</button>
              </form>

              <mat-list *ngIf="currentUserId$ | async as currentUserId">
                <mat-list-item *ngFor="let user of users; trackBy:trackByUser">
                  <app-generate-icon mat-list-avatar [size]="35" [text]="user.id"></app-generate-icon>

                  <h2 matLine class="user-id">{{ user.id }}</h2>

                  <p matLine>
                    <span class="user-name">{{ user.name }}</span>
                  </p>

                  <button mat-icon-button
                    (click)="removeUser(user.id)"
                    *ngIf="currentUserId !== user.id"
                    [disabled]="user.isDeletingFromWorkspace"
                    class="delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
