<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" class="content content-max-width">
  <div class="central-content">

    <mat-card class="bus-description">
      <mat-card-title fxLayout="row">
        <span fxFlex class="text-upper">Description</span>
        <mat-icon color="primary">description</mat-icon>
      </mat-card-title>
    </mat-card>

    <mat-card class="petals-servers margin-top-x1">
      <mat-card-title fxLayout="row">
        <span fxFlex class="text-upper">Petals Servers</span>
        <mat-icon color="primary">swap_horiz</mat-icon>
      </mat-card-title>

      <app-message type="info" msg="Click on a container to access its page."></app-message>

      <mat-divider></mat-divider>

      <mat-card-content>
        <swiper class="swiper-container" [config]="config">
          <div class="swiper-wrapper">
            <div *ngFor="let container of bus.containers; trackBy:trackByContainer" class="swiper-slide">
              <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <div class="swiper-description padding-x1" fxLayout="column" fxLayoutAlign="center end">
                  <p class="swiper-border" fxLayout="column" fxFill fxLayoutAlign="center end">
                    <span class="name"><b>{{ container.name }}</b></span>
                  </p>
                  <p fxLayout="column" fxFill fxLayoutAlign="center end" *ngIf="!container.isFetchingDetails">
                    <span class="ip">Ip: {{ container.ip }}</span>
                    <span class="port">Port: {{ container.port }}</span>
                  </p>
                  <p fxLayout="column" fxFill fxLayoutAlign="center center" *ngIf="container.isFetchingDetails">
                    <mat-spinner [diameter]="16" [strokeWidth]="1"></mat-spinner>
                  </p>
                </div>
                <div
                  class="swiper-img-container cursor-pointer"
                  [class.swiper-img-container-reachable]="container.isReachable"
                  [class.swiper-img-container-not-reachable]="!container.isReachable"
                  [routerLink]="['/workspaces', workspaceId, 'petals','containers', container.id]">
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination" fxLayoutAlign="end center"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </swiper>
      </mat-card-content>

    </mat-card>
  </div>
</div>
