<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px" class="deploys">
      <ngx-hover-opacity class="deploy-component" [isHoverVisible]="!container.isReachable">
        <app-upload
          #deployComponent
          acceptedFileType=".zip"
          [title]="'Component deployment'"
          [uploadStatus]="uploadComponentStatus"
          [error]="container.errorDeploymentComponent"
          [disabled]="updateComponentDeployInfoFormGroup.invalid"
          (onUploadFile)="deploy('component', $event.selectedFileInformation.file)"
          (onFileSelected)="onFileSelected('component', $event.file)"
          (onResetFile)="updateComponentDeployInfoFormGroup.reset()"
        >
          <ng-template updateFileInformation>
            <form novalidate [formGroup]="updateComponentDeployInfoFormGroup">
              <mat-form-field>
                <input type="text" matInput placeholder="Name" autocomplete="off" formControlName="name">
                <button
                  *ngIf="updateComponentDeployInfoFormGroup.get('name')"
                  matSuffix
                  color="primary"
                  mat-icon-button
                  aria-label="Clear"
                  (click)="updateComponentDeployInfoFormGroup.get('name').setValue('')"
                >
                  <mat-icon>close</mat-icon>
                </button>

                <mat-error
                  class="error-name-input"
                  *ngIf="updateComponentDeployInfoFormGroup.get('name').hasError('isKeyPresentInObject')"
                >
                  You can't upload a component with a name that already exists in this container
                </mat-error>
              </mat-form-field>

              <mat-divider></mat-divider>

              <mat-card-subtitle class="margin-top-x1" fxLayoutAlign="start center" *ngIf="slsInfoReadFromZip">
                <span fxFlex>Shared libraries</span>
                <mat-icon class="margin-left-x1" svgIcon="sl-overview"></mat-icon>
              </mat-card-subtitle>

              <app-message
                *ngIf="slsInfoReadFromZip.length > 0 && nbSlsReadFromZipNotInContainer > 0"
                type="warning"
                [isClosable]="false"
                class="warning-red-cross"
                msg="Shared libraries with a red cross are not in this container."
              ></app-message>

              <app-message
                *ngIf="slsInfoReadFromZip.length > 0 && nbSlsReadFromZipNotInContainer === 0"
                type="success"
                [isClosable]="false"
                class="success-all-sls"
                msg="All the shared libraries are in this container."
              ></app-message>

              <app-message
                *ngIf="slsInfoReadFromZip.length === 0"
                type="info"
                [isClosable]="false"
                class="info-no-sls"
                msg="No shared libraries have been detected in this zip file."
              ></app-message>

              <mat-list dense *ngIf="slsInfoReadFromZip">
                <div class="item-list">
                  <mat-list-item
                    *ngFor="let slInfo of slsInfoReadFromZip"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    matLine
                    >
                    <mat-icon mat-list-icon *ngIf="slInfo.isInCurrentContainer" class="color-green-x1">
                      done
                    </mat-icon>

                    <mat-icon mat-list-icon *ngIf="!slInfo.isInCurrentContainer" class="color-red-x1">
                      clear
                    </mat-icon>

                    <span class="sl-name">{{ slInfo.name }}</span>
                  </mat-list-item>
                </div>
              </mat-list>

            </form>
          </ng-template>
        </app-upload>
      </ngx-hover-opacity>

      <ngx-hover-opacity class="deploy-service-assembly" [isHoverVisible]="!container.isReachable">
        <app-upload
          fxFlex
          #deployServiceAssembly
          acceptedFileType=".zip"
          [title]="'Service assembly deployment'"
          [uploadStatus]="uploadServiceAssemblyStatus"
          [error]="container.errorDeploymentServiceAssembly"
          [disabled]="updateServiceAssemblyDeployInfoFormGroup.invalid"
          (onUploadFile)="deploy('service-assembly', $event.selectedFileInformation.file)"
          (onFileSelected)="onFileSelected('service-assembly', $event.file)"
          (onResetFile)="updateServiceAssemblyDeployInfoFormGroup.reset()"
        >
          <ng-template updateFileInformation>
            <form novalidate [formGroup]="updateServiceAssemblyDeployInfoFormGroup">
              <mat-form-field>
                <input type="text" matInput placeholder="Name" autocomplete="off" formControlName="name">
                <button
                  *ngIf="updateServiceAssemblyDeployInfoFormGroup.get('name')"
                  matSuffix
                  color="primary"
                  mat-icon-button
                  aria-label="Clear"
                  (click)="updateServiceAssemblyDeployInfoFormGroup.get('name').setValue('')"
                >
                  <mat-icon>close</mat-icon>
                </button>

                <mat-hint *ngIf="!updateServiceAssemblyDeployInfoFormGroup.get('name').value && !!saNameReadFromZip">
                  Default {{ saNameReadFromZip }}
                </mat-hint>

                <mat-error
                  class="error-name-input"
                  *ngIf="updateServiceAssemblyDeployInfoFormGroup.get('name').hasError('isKeyPresentInObject')"
                >
                  You can't upload a service assembly with a name that already exists in this container
                </mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </app-upload>
      </ngx-hover-opacity>

      <ngx-hover-opacity class="deploy-shared-library" [isHoverVisible]="!container.isReachable">
        <app-upload
          fxFlex
          #deploySharedLibrary
          acceptedFileType=".zip"
          [title]="'Shared library deployment'"
          [uploadStatus]="uploadSharedLibraryStatus"
          [error]="container.errorDeploymentSharedLibrary"
          [disabled]="updateSharedLibraryDeployInfoFormGroup.invalid"
          (onUploadFile)="deploy('shared-library', $event.selectedFileInformation.file)"
          (onFileSelected)="onFileSelected('shared-library', $event.file)"
          (onResetFile)="updateSharedLibraryDeployInfoFormGroup.reset()"
        >
          <ng-template updateFileInformation>
            <form [formGroup]="updateSharedLibraryDeployInfoFormGroup">
              <mat-form-field>
                <input type="text" matInput placeholder="Name" autocomplete="off" formControlName="name">
                <button
                  *ngIf="updateSharedLibraryDeployInfoFormGroup.get('name')"
                  matSuffix
                  color="primary"
                  mat-icon-button
                  aria-label="Clear"
                  (click)="updateSharedLibraryDeployInfoFormGroup.get('name').setValue('')"
                >
                  <mat-icon>close</mat-icon>
                </button>

                <mat-hint *ngIf="!updateSharedLibraryDeployInfoFormGroup.get('name').value && !!slNameReadFromZip">
                  Default {{ slNameReadFromZip }}
                </mat-hint>

              <mat-error
                class="error-name-input"
                *ngIf="updateSharedLibraryDeployInfoFormGroup.get('name').hasError('isKeyPresentInObject')"
              >
                You can't upload a shared library with a name that already exists in this container
              </mat-error>
            </mat-form-field>

              <mat-form-field>
                <input type="text" matInput placeholder="Version" autocomplete="off" formControlName="version">
                <button
                  *ngIf="updateSharedLibraryDeployInfoFormGroup.get('version')"
                  matSuffix
                  color="primary"
                  mat-icon-button
                  aria-label="Clear"
                  (click)="updateSharedLibraryDeployInfoFormGroup.get('version').setValue('')"
                >
                  <mat-icon>close</mat-icon>
                </button>

                <mat-hint *ngIf="!updateSharedLibraryDeployInfoFormGroup.get('version').value && !!slVersionReadFromZip">
                  Default {{ slVersionReadFromZip }}
                </mat-hint>
              </mat-form-field>
            </form>
          </ng-template>
        </app-upload>
      </ngx-hover-opacity>
  </div>
</div>
