<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<app-workspace-element [resourceObservable]="container$" deletedMessage="This container has been removed" #we>
  <!-- within ngIf we also check the ip otherwise the message
  is shown and hidden during a little time for reachable containers -->
  <app-message
    appWorkspaceElementHeaderExtra
    *ngIf="!!we.resource.ip && !we.resource.isReachable"
    type="warning"
    [isClosable]="false"
    msg="Unreachable"
  ></app-message>

  <app-petals-container-overview
    *appWorkspaceElementTab="'Overview'"
    [container]="we.resource"
    [workspaceId]="workspaceId$ | async"
    fxFill
  ></app-petals-container-overview>

  <app-petals-container-operations
    *appWorkspaceElementTab="'Operations'"
    [container]="we.resource"
    [componentsByName]="componentsOfCurrentContainerByName$ | async"
    [sharedLibrariesByName]="sharedLibrariesOfCurrentContainerByName$ | async"
    [serviceAssembliesByName]="serviceAssembliesOfCurrentContainerByName$ | async"
    fxFill
  ></app-petals-container-operations>

</app-workspace-element>
