<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxFill fxLayout="column" class="content content-max-width">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">

      <mat-card fxFlex class="sa-infos" [ngClass.gt-md]="'card-auto-size'">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">About <b>{{ serviceAssembly.name }}</b></span>
          <mat-icon color="primary">info_outline</mat-icon>
        </mat-card-title>

        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-card-header fxFlex *ngIf="serviceAssembly.state">
            <mat-card-title>State</mat-card-title>
            <mat-card-subtitle class="sa-state" fxLayoutAlign="start center">
              {{ serviceAssembly.state }}
              <app-led [color]="getLedColorFromState(serviceAssembly.state)" class="margin-left-x1"></app-led>
            </mat-card-subtitle>
          </mat-card-header>
        </div>
      </mat-card>

      <mat-card fxFlex class="service-units">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">Service Units</span>
          <mat-icon svgIcon="su"></mat-icon>
        </mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content class="margin-top-x1 shared-libraries-content">
          <mat-nav-list dense fxLayout="column" class="padding-top-x1">
            <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let su of serviceAssembly.serviceUnits; trackBy:trackBySu">
              <a mat-raised-button color="primary"
                [routerLink]="['/workspaces', (workspaceId$ | async), 'petals', 'service-units', su.id]"
                class="service-unit">
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <span class="su-name margin-right-x1">{{ su.name }}</span>
                  <mat-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
                </div>
              </a>

              <span fxFlex matSubheader fxLayoutAlign="center center">deployed on component</span>

              <a mat-raised-button color="primary"
                [routerLink]="['/workspaces', (workspaceId$ | async), 'petals', 'components', su.component.id]"
                class="su-component">
                <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                  <span class="component-name margin-right-x1">{{ su.component.name }}</span>
                  <mat-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
                </div>
              </a>
            </div>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
