/**
 * Copyright (C) 2017-2018 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import './_utils';
@import './_colors';
@import './_loading';
@import '../themes/_light.theme';

html,
body,
app-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: mat-color($primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

$sidebar-width: 360px;

mat-sidenav {
  width: $sidebar-width;
}

app-material-tree {
  max-width: $sidebar-width;
}

body .text-upper {
  text-transform: uppercase;
}

.card-auto-size {
  margin: 0 0 auto 0;
}

div > .mat-dialog-container {
  padding: 0;
  margin: 0;
}

.mat-tab-body-wrapper,
.mat-tab-body-content {
  height: 100%;
}

.wrapper-content {
  height: 100%;
  .central-content {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 640px) {
    .central-content {
      width: 100%;
    }
  }
  .content {
    @extend .padding-x2;
    background-image: url(./assets/img/gray_jean.png);
    background-size: auto;
    background-repeat: repeat;
    height: 100%;

    &.content-max-width {
      margin: auto;
    }
  }
  @media screen and (max-width: 640px) {
    .content {
      padding: 10px;
    }
  }
  ngx-hover-opacity > div.content {
    @extend .padding-x0;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: local(Material Icons), local(MaterialIcons-Regular);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.form-error {
  color: red;
  font-size: 12px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

// custom scrollbar only for chrome
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.17);
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.17);
  border-left: 1px solid rgba(0, 0, 0, 0.17);
  border-top: 1px solid rgba(0, 0, 0, 0.17);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:disabled {
  background-color: rgba(0, 0, 0, 0.03);
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.61);
}
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:vertical:hover {
  border-left: 1px solid rgba(0, 0, 0, 0.17);
}
::-webkit-scrollbar-track:vertical:active {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track:horizontal:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.17);
}
::-webkit-scrollbar-track:horizontal:active {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.prefix-toolbar-title {
  width: 20px;
  text-align: center;
}

// temporary fix https://github.com/angular/material2/issues/2829
app-workspace
  > .mat-sidenav-container
  > .mat-sidenav
  > .mat-tab-group
  > .mat-tab-header
  > .mat-tab-label-container
  > .mat-tab-list
  > .mat-tab-labels {
  .mat-tab-label {
    min-width: 72px;
    text-transform: uppercase;
  }
}

.wrapper-content
  > .mat-tab-group
  > .mat-tab-header
  > .mat-tab-label-container
  > .mat-tab-list
  > .mat-tab-labels {
  .mat-tab-label {
    text-transform: uppercase;
  }
}

// customize toolbars
app-header .header-toolbar,
.header-toolbar,
.admin-page > mat-toolbar.toolbar-page-header {
  height: 56px;
  min-height: 56px;
}

app-header .toolbar-page-header,
.toolbar-page-header,
.admin-page > mat-toolbar.toolbar-page-header,
.admin-page > mat-toolbar.toolbar-page-header {
  height: 140px;
  min-height: 140px;
  h1.title {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px;
  }
}

@media screen and (max-width: 840px) {
  app-header .toolbar-page-header,
  .toolbar-page-header,
  .admin-page > mat-toolbar.toolbar-page-header,
  .admin-page > mat-toolbar.toolbar-page-header {
    height: 80px;
    min-height: 80px;
    h1.title {
      padding: 24px 8px;
      font-size: 20px;
    }
  }
}

.icon-primary {
  color: mat-color($theme-primary-x6);
}

.highlight {
  background-color: mat-color($theme-accent-x5);
}

// all items elements in petals and services menu view
app-buses-in-progress
  > .nav-list-imports-in-progress
  > .item-list
  > .mat-list-item,
app-material-tree > .nav-list-tree > .item-list > .mat-list-item {
  height: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.02);

  .item-content > .item-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

  .item-content > .arrow-size {
    width: 14px;
  }
}

app-petals-menu-view,
app-service-menu-view,
app-api-menu-view {
  overflow: hidden;
}

// all items elements in petals tree
app-material-tree > .nav-list-tree > .item-list {
  // customize active elements
  .active-link,
  .active-link:hover {
    .mat-list-item-content,
    .mat-list-item-content:hover {
      background-color: mat-color($theme-primary-x);
      @extend .color-primary-bold;
      margin: 0;
    }
  }
  // customize namespace in tree services
  a.item-namespace > .mat-list-item-content,
  a.item-namespace > .mat-list-item-content:focus,
  a.item-namespace > .mat-list-item-content:hover {
    cursor: default;
    background: none;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
  }

  // customize tree elements
  .mat-list-item > .mat-list-item-content {
    padding-left: 10px;
  }
  .mat-list-item > .mat-list-item-content:hover,
  .mat-list-item > .mat-list-item-content:focus {
    @extend .color-primary-light-bold;
  }
  // customize categories of elements
  .workspace-element-type-category-components > .mat-list-item-content,
  .workspace-element-type-category-service-assemblies > .mat-list-item-content,
  .workspace-element-type-category-shared-libraries > .mat-list-item-content {
    @extend .text-upper;
    background: rgba(0, 0, 0, 0.02);
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;

    .item-content > .arrow-size {
      width: 16px;
    }
  }
  // customize hover categories of elements
  .workspace-element-type-category-components > .mat-list-item-content:hover,
  .workspace-element-type-category-service-assemblies
    > .mat-list-item-content:hover,
  .workspace-element-type-category-shared-libraries
    > .mat-list-item-content:hover {
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }
  // customize focus categories of elements
  .workspace-element-type-category-components > .mat-list-item-content:focus,
  .workspace-element-type-category-service-assemblies
    > .mat-list-item-content:focus,
  .workspace-element-type-category-shared-libraries
    > .mat-list-item-content:focus {
    background: rgba(0, 0, 0, 0.02);
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

  // declare width for ellipsis
  .workspace-element-type-bus
    > .mat-list-item-content
    > .item-content
    > .item-name {
    max-width: $sidebar-width - 54px;
  }
  .workspace-element-type-container
    > .mat-list-item-content
    > .item-content
    > .item-name {
    max-width: $sidebar-width - 68px;
  }
  .workspace-element-type-component
    > .mat-list-item-content
    > .item-content
    > .item-name,
  .workspace-element-type-service-assembly
    > .mat-list-item-content
    > .item-content
    > .item-name,
  .workspace-element-type-shared-library
    > .mat-list-item-content
    > .item-content
    > .item-name {
    max-width: $sidebar-width - 94px;
  }
  .workspace-element-type-service-unit
    > .mat-list-item-content
    > .item-content
    > .item-name {
    max-width: $sidebar-width - 122px;
  }
}

// all items ip/port in imports in progress
app-buses-in-progress > .nav-list-imports-in-progress > .item-list {
  // customize tree elements
  .mat-list-item > .mat-list-item-content:hover,
  .mat-list-item > .mat-list-item-content:focus {
    background-color: mat-color($theme-primary-x);
    @extend .color-primary-light-bold;
  }
}

// use in all administration component
.user-management-page > .user-management-panels {
  .pnl-add-user > mat-expansion-panel > mat-expansion-panel-header.mat-expanded,
  .pnl-list-users
    > .mat-accordion
    > mat-expansion-panel
    > mat-expansion-panel-header.mat-expanded {
    background-color: mat-color($theme-accent-x5);
  }
}

// use in all container component
.network-canvas {
  width: 100%;
  height: 100%;
  .vis-network > .vis-network-tooltip {
    height: 22px;
    max-width: 250px;
    font-size: 10px;
    margin: 14px;
    padding: 8px;
    background: mat-color($mat-grey, 700, 0.9);
    border-radius: 2px;
    position: absolute;
    color: #fff;
  }
}
