<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFill class="content content-max-width">
  <div class="central-content">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="10px">

      <mat-card fxFlex class="container-infos">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">About <b>{{ container.name }}</b></span>
          <mat-icon color="primary">info_outline</mat-icon>
        </mat-card-title>

        <div fxLayout="row" fxLayoutAlign="start center" class="margin-top-x1">
          <mat-card-header fxFlex>
            <div matCardAvatar class="img-card-ip"></div>
            <mat-card-title>IP</mat-card-title>
            <mat-card-subtitle class="container-ip">{{ container.ip }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-header fxFlex>
            <div matCardAvatar class="img-card-port"></div>
            <mat-card-title>Port</mat-card-title>
            <mat-card-subtitle class="container-port">{{ container.port }}</mat-card-subtitle>
          </mat-card-header>
        </div>
      </mat-card>

      <mat-card fxFlex class="petals-servers" *ngIf="container.isReachable">
        <mat-card-title fxLayout="row">
          <span fxFlex class="text-upper">System Info</span>
          <mat-icon color="primary">description</mat-icon>
        </mat-card-title>
        <mat-card-content class="system-info">{{ container.systemInfo }}</mat-card-content>
      </mat-card>

    </div>

    <mat-card fxLayout="column" class="margin-top-x1" *ngIf="container.isReachable">
      <mat-card-title fxLayout="row">
        <div fxFlex class="text-upper" fxLayout="row">
          <span class="margin-right-x1">Containers Reachabilities</span>
          <mat-spinner [diameter]="16" [strokeWidth]="1" fxLayoutAlign="start center" *ngIf="container.isFetchingDetails"></mat-spinner>
        </div>
        <mat-icon fxLayoutAlign="end center" color="primary">dns</mat-icon>
      </mat-card-title>

      <app-message
        class="info-container-reachabilities"
        *ngIf="container.reachabilities.length > 0; else noContainerReachable"
        type="info"
        msg="Click on a container to see its parameters."
        [isClosable]="false"
      ></app-message>

      <ng-template #noContainerReachable>
        <app-message type="info" [isClosable]="false" msg="There is no other containers in this bus."></app-message>
      </ng-template>
    </mat-card>

    <mat-card class="graph-containers" *ngIf="container.isReachable">
      <div fxFill class="network-canvas"
        *ngIf="!container.isFetchingDetails"
        [visNetwork]="visNetwork"
        [visNetworkData]="visNetworkData"
        [visNetworkOptions]="visNetworkOptions"
        (initialized)="networkInitialized()"></div>
    </mat-card>

    <mat-card fxLayout="column" class="container-infos-selected margin-bottom-x1" *ngIf="container.isReachable && selectedContainer && container.id !== selectedContainer.id">
      <mat-card-title fxLayout="row">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
          <span fxFlex class="text-upper"><b>{{ selectedContainer.name }}</b> Selected</span>

          <mat-nav-list dense fxLayout="row">
            <div fxFlex fxLayout="row" fxLayoutAlign="end center">
              <a mat-raised-button color="primary" class="container" [routerLink]="['/workspaces', workspaceId, 'petals', 'containers', selectedContainer.id]">
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <span class="text-upper view-container margin-right-x1">View this container</span>
                  <mat-icon mat-list-icon svgIcon="goto" class="icon-x1" fxLayoutAlign="center center"></mat-icon>
                </div>
              </a>
            </div>
          </mat-nav-list>
        </div>
      </mat-card-title>

      <div fxLayout="row">
        <div fxFlex fxLayout="row">
          <mat-card-header>
            <div matCardAvatar class="img-card-ip"></div>
            <mat-card-title>IP</mat-card-title>
            <mat-card-subtitle class="selected-container-ip">{{ selectedContainer.ip }}</mat-card-subtitle>
          </mat-card-header>
        </div>

        <div fxFlex fxLayout="row">
          <mat-card-header fxFlex>
            <div matCardAvatar class="img-card-port"></div>
            <mat-card-title>Port</mat-card-title>
            <mat-card-subtitle class="selected-container-port">{{ selectedContainer.port }}</mat-card-subtitle>
          </mat-card-header>
        </div>
      </div>
    </mat-card>
  </div>
</div>
