<!-- Copyright (C) 2017-2018 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" fxFlex class="margin-top-x1">

  <div class="pnl-title">
    <div class="margin-left-x1" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="margin-right-x1" svgIcon="interface"></mat-icon>
      <span class="text-upper title" fxFlex>Interfaces</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="pnl-title">
    <div class="margin-left-x1" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="margin-right-x1" svgIcon="service"></mat-icon>
      <span class="text-upper title" fxFlex>Services</span>
    </div>
  </div>

  <app-services-list
    [servicesTree]="servicesTree$ | async"
    [workspaceId]="workspaceId"
    (onServiceSelected)="closeSidenavOnSmallScreen()">
  </app-services-list>

  <mat-divider></mat-divider>

  <div class="pnl-title">
    <div class="margin-left-x1" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="margin-right-x1" svgIcon="endpoint"></mat-icon>
      <span class="text-upper title" fxFlex>Endpoints</span>
    </div>
  </div>
</div>
